<div class="third-section-div" id="third-section">
    <div class="third-section-right-div">
        <img src="assets/img/24.png">
    </div>
    <div class="third-section-left-div" data-aos="flip-up" data-aos-anchor="#example-anchor" data-aos-offset="2000" data-aos-duration="500">
        <h2 class="third-section-header">About me</h2>
        <div class="third-section-main-text">I think everyone wants mostly similar things - good relations, a fulfilling job, and also good coffee. I try to grasp these things with values such as discipline, hospitality, and diligence.
        </div>
        <div class="third-section-btn"><a class="third-section-btn-href" href="#seventh-section">Let's get in touch</a></div>
    </div>
</div>