.third-section-div {
    height: 600px;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInOut 1s linear;
}

.third-section-left-div {
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 50px;
}

.third-section-right-div {
    width: 50vw;
    height: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.third-section-header {
    font-family: Sen, sans-serif;
    color: black;
    font-size: 55px;
    margin-bottom: 25px;
    margin-top: 30px;
}

.third-section-main-text {
    color: black;
    font-family: 'PT Sans';
    font-size: 18px;
    width: 70%;
    letter-spacing: 0px;
}

.third-section-btn {
    color: black;
    font-size: 18px;
    font-family: 'PT Sans';
    cursor: pointer;
    margin-top: 125px;
    text-decoration: underline;
}

.third-section-btn-href {
    color: black;
}

@media (max-width: 1235px) and (min-width: 800px) {
    .third-section-right-div {
        img {
            width: 100% !important;
            height: 100% !important;
            min-height: 100% !important;
            min-width: 100% !important;
            max-width: 100% !important;
            max-height: 100% !important;
        }
    }
}

@media (max-width: 1000px) {
    .third-section-right-div {
        img {
            width: 100% !important;
            height: 100% !important;
            min-height: 100% !important;
            min-width: 100% !important;
            max-width: 100% !important;
            max-height: 100% !important;
        }
    }
}

@media (max-width: 800px) {
    .third-section-right-div {
        img {
            width: 100%;
            height: 100%;
        }
    }
    .third-section-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: fit-content;
    }
    .third-section-left-div {
        width: calc(100vw - 100px);
        padding-left: 50px;
        padding-right: 50px;
        height: fit-content;
    }
    .third-section-right-div {
        width: 100vw;
        height: fit-content;
    }
    .third-section-btn {
        margin-top: 20px !important;
        margin-bottom: 50px;
    }
    .third-section-header {
        margin-bottom: 0px !important;
    }
}

@media (max-width: 100%) {
    .third-section-right-div {
        img {
            width: 100vw !important;
            max-width: 100vw !important;
            min-width: 100vw;
            height: 100%;
            min-height: 100% !important;
            max-height: 100% !important;
            margin-top: 100px;
            margin-top: 0px;
        }
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}