<div class="third-section-div" id="third-section">
    <div class="third-section-left-div">
        <h2 class="third-section-header">About me</h2>
        <div class="third-section-main-text">I think everyone wants the mostly similar things - good relations, a fulfilling job and also good coffee. I try to grasp these things with values as discipline, hospitality and diligence.</div>
        <div class="third-section-btn"><a class="third-section-btn-href" href="#seventh-section">Lets get in touch</a></div>
    </div>
    <div class="third-section-right-div">
        <img src="./../../assets/img/2.jpg">
    </div>
</div>