$bg-color-page-right: #181823;
$second-color: #181823;
.header-div {
    width: 100vw;
    height: 650px;
    display: flex;
}

.header-left {
    width: 26%;
    background-color: black;
    padding-left: 72px;
    height: 735px;
    padding-top: 10px;
}

.header-right {
    padding-right: 72px;
    width: 70%;
    background-color: $bg-color-page-right;
    display: flex;
    height: 745px;
    justify-content: end;
    align-items: start;
}

.header-left-initials {
    font-family: 'PT Sans';
    font-weight: 800;
    text-decoration: none;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.header-right-inner-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.header-right-normal-text {
    color: #BABABD;
    font-size: 12px;
    font-family: 'PT Sans';
    cursor: pointer;
}

.header-right-btn {
    color: white;
    background-color: #5221E6;
    font-weight: 800;
    font-size: 12px;
    width: 78px;
    height: 60px;
    font-family: 'PT Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.responsove-menu-btn {
    img {
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
}

.open-menu {
    position: absolute;
    z-index: 5;
    width: 100vw;
    height: fit-content;
    background-color: black;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-none {
    display: none;
}

.open-menu-normal-text {
    color: #BABABD;
    font-size: 12px;
    font-family: 'PT Sans';
    cursor: pointer;
}

.single-href {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 100px;
}

.open-menu-btn {
    color: white;
    background-color: #5221E6;
    font-weight: 800;
    font-size: 12px;
    width: 100%;
    height: 60px;
    font-family: 'PT Sans';
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    margin-bottom: 30px;
}

.navbar-header {
    float: none;
}

.modal-fullscreen-menu {
    .close {
        color: white;
        opacity: 1;
        padding: 10px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        font-size: 5vh;
    }
    .modal-dialog {
        margin: 0 auto;
        width: 100%;
        max-width: 768px;
        display: flex;
        height: 100%;
        align-items: center;
    }
    .modal-content {
        background-color: transparent;
        box-shadow: none;
        border: none;
    }
    .list-group {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        a {
            font-size: 200%;
            font-weight: 200;
            letter-spacing: 0.05em;
            border: none;
            transition: all 0.25s ease;
            background-color: transparent;
            color: white;
            padding: 7.5vh 0;
            height: 5vh;
            font-size: 5vh;
            line-height: 0;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: white;
                z-index: -1;
                opacity: 0;
                transform: scale3d(0.7, 1, 1);
                transition: transform 0.4s, opacity 0.4s;
            }
            &:hover {
                color: black;
                &:before {
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }
        }
    }
}

.modal-backdrop {
    &.in {
        opacity: 1;
    }
}

.jumbotron {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100vh;
    color: white;
    background-color: #333;
}

@media screen and (min-width: 800px) {
    .responsive-menu-btn {
        display: none;
    }
}

@media screen and (max-width: 800px) and (min-width: 450px) {
    .responsive-menu-btn {
        display: unset;
    }
    .header-right-normal-text {
        color: $second-color;
        background-color: $second-color;
    }
    .header-right-btn {
        color: $second-color;
        background-color: $second-color;
    }
    .header-left {
        background-color: $second-color;
    }
    .header-right-inner-div {
        justify-content: end !important;
        height: 70px;
    }
}

@media screen and (max-width: 450px) and (min-width: 300px) {
    .header-right-normal-text {
        color: $second-color;
        background-color: $second-color;
        display: none !important;
    }
    .header-right-btn {
        color: $second-color;
        background-color: $second-color;
        display: none !important;
    }
    .header-right-inner-div {
        justify-content: end !important;
        height: 70px;
    }
    .header-left {
        background-color: $second-color;
    }
}

@media screen and (max-width: 300px) {
    .header-right-normal-text {
        color: $second-color;
        background-color: $second-color;
        display: none !important;
    }
    .header-right-btn {
        color: $second-color;
        background-color: $second-color;
        display: none !important;
    }
    .header-right-inner-div {
        justify-content: end !important;
        height: 70px;
    }
    .header-left {
        background-color: $second-color;
        padding-left: 35px;
    }
    .header-right {
        background-color: $second-color;
        padding-right: 35px;
    }
}