<div class="header-div" id="first-section">
    <div class="header-left">
    </div>
    <div class="header-right">
    </div>
    <div class="header-bar-1">
        <div class="header-left-initials">
            <a routerLink="/">M.T</a>
        </div>
        <div class="header-right-inner-div">
            <div class="header-right-normal-text"><a href="#second-section">Experience</a></div>
            <div class="header-right-normal-text"><a href="#fifth-section">Work</a></div>
            <div class="header-right-normal-text"><a href="#fourth-section">Technologies</a></div>
            <div class="header-right-btn"><a href="#seventh-section">Contact</a></div>
            <div class="responsive-menu-btn"><img (click)="openMenu()" src="./../../assets/img/14.png"></div>
        </div>
    </div>
    <div class="open-menu d-none" id="open-menu">
        <div class="single-href open-menu-normal-text"><a href="#second-section">Experience</a></div>
        <div class="single-href open-menu-normal-text"><a href="#fifth-section">Work</a></div>
        <div class="single-href open-menu-normal-text"><a href="#fourth-section">Technologies</a></div>
        <div class="single-href open-menu-btn"><a href="#seventh-section">Contact</a></div>
    </div>
    <div class="header-responsive d-none">
        <div class="header-left">
            <div class="header-left-initials">
                M.T
            </div>
        </div>
        <div class="header-right">
            <div class="header-right-inner-div">
                <div class="header-right-normal-text"><a href="#second-section">Experience</a></div>
                <div class="header-right-normal-text"><a href="#fifth-section">Work</a></div>
                <div class="header-right-normal-text"><a href="#fourth-section">Technologies</a></div>
                <div class="header-right-btn"><a href="#seventh-section">Contact</a></div>
                <div class="responsive-menu-btn"><img (click)="openMenu()" src="./../../assets/img/14.png"></div>
            </div>
        </div>
        <div class="open-menu d-none" id="open-menu">
            <div class="single-href open-menu-normal-text"><a href="#second-section">Experience</a></div>
            <div class="single-href open-menu-normal-text"><a href="#fifth-section">Work</a></div>
            <div class="single-href open-menu-normal-text"><a href="#fourth-section">Technologies</a></div>
            <div class="single-href open-menu-btn"><a href="#seventh-section">Contact</a></div>
        </div>
    </div>
</div>