<div class="header-div">
    <div class="header-left">
        <div class="header-left-initials">
            M.T
        </div>
    </div>
    <div class="header-right">
        <div class="header-right-inner-div">
            <div class="header-right-normal-text">Experience</div>
            <div class="header-right-normal-text">Work</div>
            <div class="header-right-normal-text">Technologies</div>
            <div class="header-right-btn">Contact</div>
        </div>
    </div>
</div>