<div class="second-section-div" id="second-section">
    <div class="second-section-inner-div">
        <div class="second-section-subheader" ng-trigger-myInsertTrigger ng-star-inserted @myInsertTrigger>WORK EXPERIENCE</div>
        <h1 class="second-section-header">Companies I have worked for in the past.</h1>
        <div class="second-section-references-div">
            <div class="second-section-single-reference" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="1500" data-aos-duration="500">
                <div class="second-section-single-reference-number">01</div>
                <h2 class="second-section-single-reference-company">
                    <a class="google-color" href="https://evvvolution.com">Evvvolution</a>
                    <div class="text-edits">
                        <div class="comma">,</div> Frontend Developer</div>
                </h2>
                <div class="second-section-single-reference-text">I currently work as Frontend dev of Evvvolution marketing, a marketing agency in northern Italy.</div>
            </div>
            <div class="second-section-single-reference" data-aos="flip-up" data-aos-anchor="#example-anchor" data-aos-offset="1500" data-aos-duration="500">
                <div class="second-section-single-reference-number">02</div>
                <h2 class="second-section-single-reference-company">
                    <a class="facebook-color" href="https://developerakademie.com">Developer Akademie</a>
                    <div class="text-edits">
                        <div class="comma">,</div>Trainee</div>
                </h2>
                <div class="second-section-single-reference-text">I learned all my frontend skills at the Developer Akademie, a professional german coding boot camp based in Munich.</div>
            </div>
            <div class="second-section-single-reference" data-aos="flip-up" data-aos-anchor="#example-anchor" data-aos-offset="1500" data-aos-duration="500">
                <div class="second-section-single-reference-number">03</div>
                <h2 class="second-section-single-reference-company">
                    <a class="dribbble-color" href="https://secretsalessystem.de">Secret Sales System</a>
                    <div class="text-edits">
                        <div class="comma">,</div> Salesman</div>
                </h2>
                <div class="second-section-single-reference-text">I started my business career with a friend of mine, Julian Altendorfer. I was one of the first salesmen on his team.
                </div>
            </div>
        </div>
    </div>
</div>