<div class="second-section-div">
    <div class="second-section-inner-div">
        <div class="second-section-subheader">WORK EXPERIENCE</div>
        <h1 class="second-section-header">Companies I have worked <br> for in the past.</h1>
        <div class="second-section-references-div">
            <div class="second-section-single-reference">
                <div class="second-section-single-reference-number">01</div>
                <h2 class="second-section-single-reference-company">
                    <p class="google-color">Google</p>, Software Engineer</h2>
                <div class="second-section-single-reference-text">I currently am the lead designer on the <br> interaction design team for Google Play.</div>
            </div>
            <div class="second-section-single-reference">
                <div class="second-section-single-reference-number">02</div>
                <h2 class="second-section-single-reference-company">
                    <p class="facebook-color">Facebook</p>, Front end Developer</h2>
                <div class="second-section-single-reference-text">I've worked on a wirde variety of internal tools <br> for facebook over the past 6 years.</div>
            </div>
            <div class="second-section-single-reference">
                <div class="second-section-single-reference-number">03</div>
                <h2 class="second-section-single-reference-company">
                    <p class="dribbble-color">Dribbble</p>, Android Developer</h2>
                <div class="second-section-single-reference-text">I started my design career with Dribbble. I was <br> in charge of creating illustrations.</div>
            </div>
        </div>
    </div>
</div>