<div class="fifth-section-div">
    <div class="inner-div">
        <div class="left-div">
            <div class="header-div">
                <div class="subheader">MY PROJECTS</div>
                <h2 class="header">Work that I've done for the past years</h2>
            </div>
            <div class="all-references">
                <div class="single-reference">
                    <div class="img-div">
                        <img src="./../../assets/img/7.png">
                    </div>
                    <div class="text-div">
                        <h3>El Pollo Loco</h3>
                        <div class="simple-text">
                            I worked on my JavaScript skills already for a while, when i started with this funny jump&run game. It is build with object-orientated Vanilla JS and is available both on the smartphone as well as in the browser. The goal is to kill the endboss at the
                            end of the level.
                        </div>
                        <div class="href-btn">
                            <img src="./../../assets/img/8.png">
                        </div>
                    </div>
                </div>
                <div class="single-reference">
                    <div class="img-div">
                        <img src="./../../assets/img/7.png">
                    </div>
                    <div class="text-div">
                        <h3>El Pollo Loco</h3>
                        <div class="simple-text">
                            I worked on my JavaScript skills already for a while, when i started with this funny jump&run game. It is build with object-orientated Vanilla JS and is available both on the smartphone as well as in the browser. The goal is to kill the endboss at the
                            end of the level.
                        </div>
                        <div class="href-btn">
                            <img src="./../../assets/img/8.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-div">
            <div class="single-reference">
                <div class="img-div">
                    <img src="./../../assets/img/7.png">
                </div>
                <div class="text-div">
                    <h3>El Pollo Loco Lol</h3>
                    <div class="simple-text">
                        I worked on my JavaScript skills already for a while, when i started with this funny jump&run game. It is build with object-orientated Vanilla JS and is available both on the smartphone as well as in the browser. The goal is to kill the endboss at the
                        end of the level.
                    </div>
                    <div class="href-btn">
                        <img src="./../../assets/img/8.png">
                    </div>
                </div>
            </div>
            <div class="single-reference">
                <div class="img-div">
                    <img src="./../../assets/img/7.png">
                </div>
                <div class="text-div">
                    <h3>El Pollo Loco</h3>
                    <div class="simple-text">
                        I worked on my JavaScript skills already for a while, when i started with this funny jump&run game. It is build with object-orientated Vanilla JS and is available both on the smartphone as well as in the browser. The goal is to kill the endboss at the
                        end of the level.
                    </div>
                    <div class="href-btn">
                        <img src="./../../assets/img/8.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>