<div class="third-section-div">
    <div class="third-section-left-div">
        <h2 class="third-section-header">Instagram</h2>
        <div class="third-section-main-text">If you are a person who enjoys SaaS, tech-Companies <br> and maybe even recruiting-software, then i highly <br> recommend that you check out my Instagram. <br> I post continously news and learnings about this <br> market, so feel free to join
            my other content there!
        </div>
        <div class="third-section-btn">Follow me on IG</div>
    </div>
    <div class="third-section-right-div">
        <img src="./../../assets/img/2.jpg">
    </div>
</div>