.fourth-section-div {
    width: calc(100vw - 100px);
    height: 615px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.fourth-section-inner-div {
    margin-top: 100px;
    margin-left: 76px;
    display: flex;
}

.fourth-section-left {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 20%;
    height: fit-content;
    margin-right: 100px;
}

.fourth-section-single-skill {
    width: 450px;
    margin-right: 50px;
}

.fourth-section-header {
    color: white;
    font-family: 'PT Sans';
    font-size: 55px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.fourth-section-subheader-text {
    color: white;
    font-family: 'PT Sans';
    font-size: 18px;
}

.fourth-section-skill-presentation-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fourth-section-upper-skills {
    display: flex;
    margin-bottom: 50px;
}

.fourth-section-lower-skills {
    display: flex;
}

.fourth-section-single-skill-header {
    color: white;
    font-family: 'PT Sans';
}

.fourth-section-single-skill-text {
    color: white;
    font-size: 18px;
    font-family: 'PT Sans';
}

.fourth-section-single-skill-img-ng {
    img {
        width: 59px;
        height: 69px;
    }
}

.fourth-section-single-skill-img-js {
    img {
        width: 69px;
        height: 68px;
    }
}

@media (max-width: 1200px) {
    .fourth-section-div {
        height: 120vh;
    }
    .fourth-section-subheader-text {
        width: 80vw;
    }
    .fourth-section-single-skill-text {
        width: 80vw;
    }
    .fourth-section-inner-div {
        flex-direction: column;
    }
    .fourth-section-upper-skills {
        flex-direction: column;
    }
    .fourth-section-lower-skills {
        flex-direction: column;
        margin-top: -50px;
    }
    .fourth-section-skill-presentation-div {
        align-items: start;
        margin-top: 50px;
    }
    .fourth-section-single-skill {
        width: fit-content;
        margin-right: 0px;
        margin-bottom: 50px;
    }
    .fourth-section-single-skill-header {
        margin-bottom: 5px
    }
}

@media (max-width: 935px) {
    .fourth-section-div {
        height: 130vh !important;
    }
}

@media (max-width: 535px) {
    .fourth-section-div {
        height: 140vh !important;
    }
}

@media (max-width: 470px) {
    .fourth-section-div {
        height: 150vh !important;
    }
}

@media (max-width: 370px) {
    .fourth-section-div {
        height: 175vh !important;
    }
}