<div class="fourth-section-div">
    <div class="fourth-section-inner-div">
        <div class="fourth-section-left">
            <h2 class="fourth-section-header">Skillset</h2>
            <div class="fourth-section-subheader-text">With skills in over 4 different fields of frontend developing, I am the perfect person to hire when it comes to a full fledged project. Whatever your needs are, i can pretty much take on any challenge.</div>
        </div>
        <div class="fourth-section-skill-presentation-div">
            <div class="fourth-section-upper-skills">
                <div class="fourth-section-single-skill">
                    <div class="fourth-section-single-skill-img"><img src="./../../assets/img/3.png"></div>
                    <h3 class="fourth-section-single-skill-header">HTML & CSS</h3>
                    <div class="fourth-section-single-skill-text">Working on projects at the Developer Akademie <br> has taught me a about HTML & CSS design,<br>but also about UI/UX Design and the <br>deep understanding of the user.</div>
                </div>
                <div class="fourth-section-single-skill">
                    <div class="fourth-section-single-skill-img-js"><img src="./../../assets/img/13.png"></div>
                    <h3 class="fourth-section-single-skill-header">JavaScript</h3>
                    <div class="fourth-section-single-skill-text">I built a jump&run-game, <br> a full kanban board and clones of instagram, <br> google photos and many more.</div>
                </div>
            </div>
            <div class="fourth-section-lower-skills">
                <div class="fourth-section-single-skill">
                    <div class="fourth-section-single-skill-img"><img src="./../../assets/img/4.png"></div>
                    <h3 class="fourth-section-single-skill-header">Rest API & Databases</h3>
                    <div class="fourth-section-single-skill-text">I started JavaScript development with Rest APIs<br> and created shortly after Pokedex, driven by a RESTful API<br> and continued with Ring of Fire, a game based on Angular and a Firebase database.
                    </div>
                </div>
                <div class="fourth-section-single-skill">
                    <div class="fourth-section-single-skill-img-ng">
                        <img src="./../../assets/img/12.png">
                    </div>
                    <h3 class="fourth-section-single-skill-header">Angular</h3>
                    <div class="fourth-section-single-skill-text">I use Angular as main framework and<br>I have built a fully functionable Slack clone<br>as well as a full CRM.</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Projekt Design (HTML/CSS, Product/UX Design), JavaScript, Rest API + Databases, Angular, SCRUM + Git-->