<div class="main-div">
    <div class="inner-div">
        <div class="div-left">
            <h2>Let's talk business</h2>
            <div class="simple-text simple-text-length">Now that you know a lot about me, let me know if you are interested to work with me.</div>
        </div>
        <div class="div-right">
            <div class="input-div">
                <div class="input-title">Name</div>
                <input>
            </div>
            <div class="input-div">
                <div class="input-title">Email</div>
                <input>
            </div>
            <div class="input-div">
                <div class="input-title">Message</div>
                <textarea></textarea>
            </div>
            <button class="input-btn">LET'S GET STARTED</button>
        </div>
    </div>
</div>