<div class="main-div">
    <div class="inner-div">
        <div class="left-div">
            <div class="initals-div">M.T</div>
            <div class="social-media-div">
                <!--<div class="single-social-media-div">
                    <img src="./../../assets/img/10.png">
                </div>-->
                <div class="single-social-media-div">
                    <p>
                        <a href="https://www.linkedin.com/in/maximilian-tauber-94b632212/">
                            <img class="sm-img" src="./../../assets/img/11.png" alt="https://www.linkedin.com/in/maximilian-tauber-94b632212/" width="100" height="132">
                        </a>
                    </p>
                </div>
                <div class="single-social-media-div">
                    <p>
                        <a href="https://www.xing.com/profile/Maximilian_Tauber2/cv">
                            <img class="xing-img" src="./../../assets/img/xing.png" alt="https://www.xing.com/profile/Maximilian_Tauber2/cv" width="100" height="132">
                        </a>
                    </p>
                </div>
                <div class="single-social-media-div">
                    <p>
                        <a href="https://github.com/MaximilianTbR">
                            <img class="gh-img" src="./../../assets/img/github.png" alt="https://github.com/MaximilianTbR" width="100" height="132">
                        </a>
                    </p>
                </div>
            </div>
            <div class="right-div-responsive">
                <div class="right-inner-div">
                    <div class="right-div-column">
                        <div class="right-div-column">
                            <div class="simple-text">
                                <a href="#first-section" class="simple-text">Start</a>
                            </div>
                            <div class="simple-text">
                                <a href="#third-section" class="simple-text">About</a>
                            </div>
                            <div class="simple-text">
                                <a class="simple-text" href="#fifth-section">Work</a>
                            </div>
                            <div class="simple-text">
                                <a class="simple-text" href="#second-section">Process</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="imprint-div">
                <div class="single-imprint"><a routerLink="/imprint">Imprint</a></div>-
                <div class="single-imprint"><a routerLink="/data-protection">Legalnotice</a></div>
            </div>
        </div>
        <div class="right-div">
            <div class="right-inner-div">
                <div class="right-div-column">
                    <div class="simple-text">
                        <a href="#first-section" class="simple-text">Start</a>
                    </div>
                    <div class="simple-text">
                        <a href="#third-section" class="simple-text">About</a>
                    </div>
                    <div class="simple-text">
                        <a class="simple-text" href="#fifth-section">Work</a>
                    </div>
                    <div class="simple-text">
                        <a class="simple-text" href="#second-section">Process</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>