<div class="main-div">
    <div class="inner-div">
        <div class="left-div">
            <div class="initals-div">M.T</div>
            <div class="social-media-div">
                <div class="single-social-media-div">
                    <img src="./../../assets/img/9.png">
                </div>
                <div class="single-social-media-div">
                    <img src="./../../assets/img/10.png">
                </div>
                <div class="single-social-media-div">
                    <img src="./../../assets/img/11.png">
                </div>
            </div>
            <div class="right-div-responsive">
                <div class="right-inner-div">
                    <div class="right-div-column">
                        <div class="simple-text">Home</div>
                        <div class="simple-text">About</div>
                        <div class="simple-text">Work</div>
                        <div class="simple-text">Process</div>
                    </div>
                </div>
            </div>
            <div class="imprint-div">Imprint - Legalnotice</div>
        </div>
        <div class="right-div">
            <div class="right-inner-div">
                <div class="right-div-column">
                    <div class="simple-text">Home</div>
                    <div class="simple-text">About</div>
                    <div class="simple-text">Work</div>
                    <div class="simple-text">Process</div>
                </div>
            </div>
        </div>
    </div>
</div>