$bg-color-page-right: #181823;
.header-div {
    width: 100vw;
    height: 740px;
    position: absolute;
    z-index: 2;
    top: 100px;
    display: flex;
}

.header-left {
    display: auto;
}

.header-right {
    width: 70%;
    height: 800px;
    position: absolute;
    right: 0px;
}

.first-section-img {
    position: absolute;
    left: 0px;
    z-index: 2;
    img {
        width: 565px;
        height: 565px;
    }
    height: fit-content;
    width: fit-content;
}

.first-section-headline {
    font-family: 'PT Sans', sans-serif;
    top: 3rem;
    color: white;
    position: absolute;
    z-index: 2;
    h1 {
        font-size: 63px;
        margin-bottom: 0px;
        width: fit-content;
    }
}