<div class="both-headers">
    <div class="header-div">
        <div class="header-left">
            <div class="first-section-img">
                <img class="img-normal" src="assets/img/21.png">
                <img class="img-responsive" src="assets/img/21.png">
            </div>
        </div>
        <div class="header-right">
            <div class="first-section-headline">
                <h1>I'm Maximilian Tauber. <br> A Frontend Developer based in Italy.</h1>
                <p>I am probably the most enthusiastic developer you'll ever get to work with. If you have a great project that needs some amazing skills, I'm your guy.</p>
            </div>
        </div>
    </div>
    <div class="header-responsive">
        <div class="header-left-responsive">
            <div class="first-section-img-responsive">
                <img class="img-normal" src="assets/img/21.png">
                <img class="img-responsive" src="assets/img/21.png">
            </div>
        </div>
        <div class="header-right-responsive">
            <div class="first-section-headline-responsive">
                <h1>I'm Maximilian Tauber. <br> A Frontend Developer based in Italy.</h1>
                <p>I am probably the most enthusiastic developer you'll ever get to work with. If you have a great project that needs some amazing skills, I'm your guy.</p>
            </div>
        </div>
    </div>
</div>