$bg-color-page-right: #181823;
.header-div {
    width: 100vw;
    height: 600px;
    position: absolute;
    z-index: 2;
    top: 100px;
    display: flex;
}

.header-left {
    display: auto;
}

.header-right {
    width: 70%;
    background-color: black;
}

.first-section-img {
    position: absolute;
    left: 0px;
    z-index: 2;
    img {
        width: 500px;
        height: 500px;
    }
    height: fit-content;
    width: fit-content;
}

.first-section-headline {
    font-family: 'PT Sans';
    font-size: large;
}