$bg-color-page-right: #181823;
.both-headers {
    width: 100%;
    height: auto;
}

.header-div {
    width: 100vw;
    height: 740px;
    position: absolute;
    z-index: 2;
    top: 100px;
    display: flex;
}

.header-left {
    display: auto;
}

.header-right {
    width: 70%;
    height: 800px;
    position: absolute;
    right: 0px;
}

.first-section-img {
    position: absolute;
    left: 0px;
    z-index: 2;
    img {
        width: 40vw;
        height: 68vh;
        object-fit: cover;
        border-radius: 100%;
    }
    height: fit-content;
    width: fit-content;
}

.first-section-headline {
    font-family: "PT Sans", sans-serif;
    top: 3rem;
    color: white;
    position: absolute;
    right: 0px;
    z-index: 2;
    width: 58vw;
    font-family: Sen;
    h1 {
        font-size: 63px;
        margin-bottom: 0px;
        width: fit-content;
    }
    p {
        width: 40vw !important;
    }
}

.header-responsive {
    height: fit-content;
    display: none;
    position: absolute;
    top: 100px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .header-right-responsive {
        width: 100%;
        height: auto;
        margin-top: -5px;
    }
    .first-section-headline-responsive {
        font-family: "PT Sans", sans-serif;
        color: white;
        width: fit-content;
        font-size: 23px;
        padding-left: 50px;
        padding-right: 50px;
        p {
            margin-top: -15px;
        }
        h1 {
            margin-top: 25px !important;
        }
    }
    .first-section-img-responsive {
        height: fit-content;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        img {
            width: 100%;
            height: 600px;
        }
    }
}

.header-left-responsive {
    width: 100vw;
    height: fit-content;
    img {
        object-fit: cover;
    }
}

@media (max-width: 600px) {}

@media (max-width: 800px) {
    .header-div {
        display: none !important;
    }
    .header-responsive {
        display: flex !important;
    }
    .both-headers {
        height: 30vh !important;
    }
    .first-section-img-responsive {
        img {
            height: 530px !important;
            width: 555px !important;
        }
    }
    .header-left-responsive {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 730px) {
    .both-headers {
        height: 30vh !important;
    }
}

@media (max-width: 670px) {
    .both-headers {
        height: 30vh !important;
    }
}

@media (max-width: 600px) {
    .both-headers {
        height: 34vh !important;
    }
}

@media (max-width: 540px) {
    .both-headers {
        height: 37vh !important;
    }
    .first-section-img-responsive {
        width: fit-content !important;
        img {
            height: 480px !important;
            width: 500px !important;
        }
    }
}

@media (max-width: 525px) {
    .both-headers {
        height: 45vh !important;
    }
}

@media (max-width: 475px) {
    .first-section-img-responsive {
        width: fit-content !important;
        img {
            height: 405px !important;
            width: 422px !important;
        }
    }
}

@media (max-width: 475px) {
    .first-section-headline-responsive {
        p {
            font-size: 20px !important;
        }
    }
    .both-headers {
        height: 33vh !important;
    }
}

@media (max-width: 390px) {
    .first-section-headline-responsive {
        h1 {
            margin-bottom: 18px;
            font-size: 40px;
        }
    }
}

@media (max-width: 370px) {
    .both-headers {
        height: 48vh !important;
    }
    .first-section-img-responsive {
        width: fit-content !important;
        img {
            height: 310px !important;
            width: 324px !important;
        }
    }
    .both-headers {
        height: 24vh !important;
    }
}

@media (max-width: 338px) {
    .first-section-headline-responsive {
        h1 {
            font-size: 36px !important;
        }
        p {
            font-size: 18px !important;
        }
    }
}

@media (max-width: 280px) {
    .first-section-headline-responsive {
        p {
            font-size: 16px !important;
        }
    }
}